# files
.DS_Store
*.pub
*.key
*.crt
*.pem
*.log
*.retry
npm-debug.log*
vagrant.retry
artillery_report_*

# directory
dist
node_modules
applications/assets/
.vagrant
api/api-generated.html
vendor/
server/roles/external/
server/plays/files
