# files
*.pub
*.key
*.crt
*.pem
*.log
*.retry
npm-debug.log*
artillery_report_*

# files exact match
.DS_Store
applications/workspace/config.php
vagrant.retry

# directory
dist
node_modules
applications/assets/
.vagrant
api/api-generated.html
vendor/
server/roles/external/
server/plays/files
api/documentation/img/
