<?php
    return [
        'database'=>[
            'host' => ##HOST##,
            'dbname' => '##DBNAME##',
            'username' => '##USERNAME##',
            'password' => '##PASSWORD##',
            'type' => '##TYPE##'
        ],
        'logs'=>[
            'monolog.logfile' => ROOT_PATH.'/log/development_'.\Carbon\Carbon::now('Europe/Rome')->format('Y-m-d').'.log',
            'monolog.level' => ##LOGLEVEL##,
            'monolog.name' => 'application'
        ],
        'debug' => false
    ];
