<?php
    return [
        'database'=>[
            'host'=>'',
            'dbname'=>'',
            'username'=>'',
            'password'=>'',
            'type'=>'mysql'
        ],
        'logs'=>[
            'monolog.logfile' => ROOT_PATH.'/storage/logs/development_'.Carbon::now('Europe/Rome')->format('Y-m-d').'.log',
            'monolog.level' => Monolog\Logger::DEBUG,
            'monolog.name' => 'application'
        ],
        'debug'=>true
    ];
